@model BlazeInspect.Models.Chat
@{
    Layout = null;
}

@*<script src="~/CRMJavaScript/Validation.js"></script>*@
@if (TempData["DbVarification"] == null && TempData["NetVarification"] == null)
{
   <div ng-if="GetSubscription == ''" class="alert alert-info m-0" role="alert">
       To receive notifications, please click the
       <a href="#"  onclick="subscribeUser()" class="alert-link">subscribe</a>. 
       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
           <span aria-hidden="true">&times;</span>
       </button>
   </div>
    <div id="page_top" class="section-body top_dark">
        <div class="container-fluid">
            <div class="page-header">
                <div class="left">
                    @*<a href="javascript:void(0)" class="icon menu_toggle mr-3"><i class="fa  fa-align-left"></i></a>*@
                    <h1 class="page-title">@ViewBag.Title </h1>
                    <div class="mobile_option">
                        <div class="dropdown ">
                            <a class="nav-link icon d-md-flex btn btn-icon ml-2" data-toggle="dropdown"><i class="fa fa-envelope"></i><span ng-repeat="c in GetMessage" ng-if="GetMessage.length > 0" class="badge badge-success nav-unread"></span></a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <ul class="right_chat  list-unstyled w250 p-0">
                                    <li class="online" ng-repeat="c in GetMessage">
                                        <input type="hidden" value="{{c.receiver_user_id}}" id="M_user_ID" />
                                        <a href="javascript:void(0);" class="media">
                                            <img class="media-object" src="~/admin_assets/images/xs/{{c.user_img}}" alt="user_img">
                                            <div class="media-body">
                                                <span class="name">{{c.messege_title}}</span>
                                                <div class="message">{{c.messege_text}}</div>
                                                <small>{{c.time}}, {{c.day}}</small>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </a>
                                    </li>
                                    <li ng-if="GetMessage == ''"><span class="text-center">No Message </span> </li>
                                </ul>
                                <div ng-if="GetMessage.length > 0" class="dropdown-divider"></div>
                                <a ng-if="GetMessage.length > 0" href="#" ng-click="MarkRead()" class="dropdown-item text-center text-muted-dark readall">Mark all as read</a>
                            </div>
                        </div>
                        <div class="dropdown ">
                            <a class="nav-link icon d-md-flex btn btn-icon ml-2" data-toggle="dropdown"><i class="fa fa-bell"></i><span ng-repeat="c in GetNotification" ng-if="GetNotification.length > 0" class="badge badge-danger nav-unread"></span></a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <ul class="list-unstyled feeds_widget">
                                    <li ng-repeat="c in GetNotification">
                                        <input type="hidden" value="{{c.receiver_user_id}}" id="user_ID" />
                                        <div class="feeds-left"><i class="fa fa-sticky-note"></i></div>
                                        <div class="feeds-body">
                                            <h4 class="title text-danger">{{c.messege_title}} <small class="float-right text-muted">{{c.time}}</small></h4>
                                            <small style="white-space: normal;">{{c.messege_text}}</small>
                                            @*<span>{{c.messege_text}}</span>*@
                                        </div>
                                    </li>
                                    <li ng-if="GetNotification == ''"><span class="text-center">No Notification </span> </li>
                                </ul>
                                <div ng-if="GetNotification.length > 0" class="dropdown-divider"></div>
                                <a ng-if="GetNotification.length > 0" href="#" ng-click="MarkRead()" class="dropdown-item text-center text-muted-dark readall">Mark all as read</a>
                            </div>
                        </div>
                        <div class="dropdown ">
                            <a class="nav-link icon  d-md-flex btn  btn-icon ml-2" data-toggle="dropdown"><i class="fa fa-user"></i></a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                @*<a class="dropdown-item" href="page-profile.html"><i class="dropdown-icon fe fe-user"></i> Profile</a>*@
                                <a class="dropdown-item" href="@Url.Action("Settings", "Home")"><i class="dropdown-icon fa fa-gear"></i> Settings</a>
                                @*<a class="dropdown-item" href="javascript:void(0)"><span class="float-right"><span class="badge badge-primary">6</span></span><i class="dropdown-icon fe fe-mail"></i> Inbox</a>*@
                                <a class="dropdown-item" href="@Url.Action("ChatApp", "Home")"><i class="dropdown-icon fa fa-envelope"></i> Message</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon fa fa-phone"></i> Need help?</a>
                                <a class="dropdown-item" href="@Url.Action("Logout", "Home")"><i class="dropdown-icon fa fa-sign-in"></i> Sign out</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    @*<div class="input-icon xs-hide mr-4">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-icon-addon"><i class="fa fa-search"></i></span>
                    </div>*@
                    <div class="notification d-flex">
                        @*<div class="dropdown d-flex">
                                <a class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-2" data-toggle="dropdown"><i class="fa fa-language"></i></a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    <a class="dropdown-item" href="#"><img class="w20 mr-2" src="admin_assets/images/flags/us.svg">English</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#"><img class="w20 mr-2" src="admin_assets/images/flags/es.svg">Spanish</a>
                                    <a class="dropdown-item" href="#"><img class="w20 mr-2" src="admin_assets/images/flags/jp.svg">japanese</a>
                                    <a class="dropdown-item" href="#"><img class="w20 mr-2" src="admin_assets/images/flags/bl.svg">France</a>
                                </div>
                            </div>*@
                        <div class="dropdown d-flex">
                            <a class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-2" data-toggle="dropdown"><i class="fa fa-envelope"></i><span ng-repeat="c in GetMessage" ng-if="GetMessage.length > 0" class="badge badge-success nav-unread"></span></a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <ul class="right_chat list-unstyled w350 p-0">
                                    <li class="online" ng-repeat="c in GetMessage">
                                        <input type="hidden" value="{{c.receiver_user_id}}" id="M_user_ID" />
                                        <a href="javascript:void(0);" class="media">
                                            <img class="media-object" src="~/admin_assets/images/xs/{{c.user_img}}" alt="user_img">
                                            <div class="media-body">
                                                <span class="name">{{c.messege_title}}</span>
                                                <div class="message">{{c.messege_text}}</div>
                                                <small>{{c.time}}, {{c.day}}</small>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </a>
                                    </li>
                                    <li ng-if="GetMessage == ''"><span class="text-center">No Message </span> </li>
                                </ul>
                                <div ng-if="GetMessage.length > 0" class="dropdown-divider"></div>
                                <a ng-if="GetMessage.length > 0" href="#" ng-click="MarkRead()" class="dropdown-item text-center text-muted-dark readall">Mark all as read</a>
                            </div>
                        </div>
                        <div class="dropdown d-flex">
                            <a class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-2" data-toggle="dropdown"><i class="fa fa-bell"></i><span ng-repeat="c in GetNotification" ng-if="GetNotification.length > 0" class="badge badge-danger nav-unread"></span></a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <ul class="list-unstyled feeds_widget">
                                    <li ng-repeat="c in GetNotification">
                                        <input type="hidden" value="{{c.receiver_user_id}}" id="user_ID" />
                                        <div class="feeds-left"><i class="fa fa-sticky-note"></i></div>
                                        <div class="feeds-body">
                                            <h4 class="title text-danger">{{c.messege_title}} <small class="float-right text-muted">{{c.time}}</small></h4>
                                            <small style="white-space: normal;">{{c.messege_text}}</small>
                                            @*<span>{{c.messege_text}}</span>*@
                                        </div>
                                    </li>
                                    <li ng-if="GetNotification == ''"><span class="text-center">No Notification </span> </li>
                                </ul>
                                <div ng-if="GetNotification.length > 0" class="dropdown-divider"></div>
                                <a ng-if="GetNotification.length > 0" href="#" ng-click="MarkRead()" class="dropdown-item text-center text-muted-dark readall">Mark all as read</a>
                            </div>
                        </div>
                        <div class="dropdown d-flex">
                            <a class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-2" data-toggle="dropdown"><i class="fa fa-user"></i></a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                @*<a class="dropdown-item" href="page-profile.html"><i class="dropdown-icon fe fe-user"></i> Profile</a>*@
                                <a class="dropdown-item" href="@Url.Action("Settings", "Home")"><i class="dropdown-icon fa fa-gear"></i> Settings</a>
                                @*<a class="dropdown-item" href="javascript:void(0)"><span class="float-right"><span class="badge badge-primary">6</span></span><i class="dropdown-icon fe fe-mail"></i> Inbox</a>*@
                                <a class="dropdown-item" href="@Url.Action("ChatApp", "Home")"><i class="dropdown-icon fa fa-envelope"></i> Message</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon fa fa-phone"></i> Need help?</a>
                                <a class="dropdown-item" href="@Url.Action("Logout", "Home")"><i class="dropdown-icon fa fa-sign-in"></i> Sign out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    @Html.Partial("~/Views/Shared/PartialViewInternetConnection.cshtml")
}
@*<a href="#" title="Print" onclick="PrintforReport('Qualified Leads List', '#ColdCallingListTableID')"><em class="fa fa-xl fa-print">&nbsp;</em></a>
    <a href="#" id="QualifiedLeadsListExcelID" title="Download Excel Sheet" onclick="ExcelFuncntion('#ColdCallingListTableID', '#QualifiedLeadsListExcelID', 'Qualified Leads List')"><em class="fa fa-xl fa-file-excel-o">&nbsp;</em></a>*@
